<div class="taskDisplay" ng-controller="TasksController as ctrl">
    <div class="taskContainer" ng-repeat="task in ctrl.tasks" ng-show="task.id == ctrl.currTask">
        <h3>{{task.name}}</h3>
        <p>{{task.description}}</p>
        <p ng-if="!task.description" class="text-muted">No description available for this item</p>
    </div>
    <a class="btn btn-primary" href="/">Return</a>
</div>