<div class="tasksList tasksTable " ng-controller="TasksController as ctrl">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Tags</th>
            <th>Estimated Effort</th>
            <th>Actual Effort</th>
            <th>Due Date</th>
        </tr>
        <tr
                ng-if="task.obj_status === 'active' "
                ng-repeat="task in ctrl.tasks | orderBy : 'id'"
                ng-class="{ 'danger': task.is_high_priority === true}"
                ng-click="ctrl.viewTask(task.id)">
            <td>{{task.id}}</td>
            <td>{{ task.name }}</td>
            <td ><span ng-repeat="tag in task.tags"><span class="btn btn-primary btn-xs">{{ tag }} </span> </span></td>
            <td>{{ task.estimated_effort }}</td>
            <td>{{ task.actual_effort }}</td>
            <td>{{ task.due_date | date: 'dd MMMM yyyy, HH:mm' }}</td>
        </tr>
    </table>
    <div class="custom" ng-repeat="task in ctrl.tasks" ng-show="task.id===ctrl.currTask">
        {{ task }}
    </div>
</div>